/*
    navBar
*/

#navBar {
    position:absolute;
    top: 0;
    left: 0;

    width: 100%;

    background-color: rgba(0, 0, 0, .2);
}

.navBar {
    display: flex;
    flex-direction: row;

    margin: 0;

    padding: 1rem 1rem;

    list-style: none;

    align-items: center;
    gap: 1rem;
}

.navBar a {
    font-size: var(--font-size-1);
    
    text-decoration: none;

    color: var(--text-color-1);
}

.navLogo {
    display: flex;
    width: calc(var(--font-size-1) + .5rem);
}

/*
    Hero
*/

.heroLogo {
    width: 70%;
    max-width: 360px;
}

/* Hero styles */
.heroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
}

.heroInner {
    display: flex;
    flex-direction: column;
    
    min-height: 85vh;

    gap: 1rem;

    text-align: center;
    align-items: center;
}

.heroText {
    display: flex;
    flex-direction: column;

    padding: 2rem;
}

.heroTitle {
    font-size: clamp(2rem, 10vw, 3.5rem);

    margin: .5rem 0;
    margin-bottom: 0;

    color: var(--text-color-1)
}

.heroSubtitle {
    font-size: clamp(1.5rem, 6vw, 1.8rem);

    font-weight: 600;
    margin: .5rem 0;
    color: var(--text-color-1);
}

.heroDesc {
    font-size: clamp(1rem, 4vw, 1.4rem);

    margin: 1rem 0;
    line-height: 1.4;
    color: var(--text-color-1);
}

.heroCTA {
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 12px;

    font-size: clamp(1rem, 5vw, 1.5rem);
    color: var(--text-color-1);
    text-decoration: none;
}