.glass {
	-webkit-backdrop-filter: blur(clamp(8px, 4vw, 20px)) saturate(120%);
	backdrop-filter: blur(clamp(8px, 1vw, 20px)) saturate(120%);

    box-shadow: 0 5px 10px;
}

.rounded {
    border-radius: .6rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.textShadow {
    text-shadow: var(--text-shadow-1);
}