.glass {
	-webkit-backdrop-filter: blur(.5rem) saturate(120%);
	backdrop-filter: blur(.5rem) saturate(120%);

    box-shadow: 0 5px 10px;
}

.rounded {
    border-radius: .6rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}